rceipt/server/reports/schemas/ApprovedLabel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?report  module="RCEIPT" package="APPROVED_LABEL_REP" ?>
<xs:schema
   targetNamespace="urn:ifsworld-com:approved_label_rep"
   xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns="urn:ifsworld-com:approved_label_rep"
   elementFormDefault="qualified"
   attributeFormDefault="unqualified"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.w3.org/2001/XMLSchema http://www.w3.org/2001/XMLSchema.xsd">
   <xs:element name="APPROVED_LABEL_REP_REQUEST">
      <xs:complexType>
         <xs:all minOccurs="1" maxOccurs="1">
            <xs:element name="PROCESSING_INFO">
               <xs:complexType>
                  <xs:all minOccurs="1" maxOccurs="1">
                     <xs:element name="FORMATTING_OPTIONS">
                        <xs:complexType>
                           <xs:all minOccurs="1" maxOccurs="1">
                              <xs:element name="COPIES" type="xs:int" nillable="true"/>
                              <xs:element name="PAGE_FROM" type="xs:int" nillable="true"/>
                              <xs:element name="PAGE_TO" type="xs:int" nillable="true"/>
                              <xs:element name="LANG_CODE" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="5"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="LAYOUT_NAME" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="PRINT_DIRECTORY" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="LAYOUT_FILE" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="SELECTED_PRINTER" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="LANGUAGE_LAYOUT_FILE" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="PAPER_FORMAT" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="PROCESSING_ATTRIBUTES">
                        <xs:complexType>
                           <xs:all minOccurs="1" maxOccurs="1">
                              <xs:element name="EXECUTION_TIME" type="xs:dateTime"/>
                              <xs:element name="ORDERED_BY" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="JOB_ID" type="xs:int" nillable="true"/>
                              <xs:element name="COMMENT" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="ORDER_TIME" type="xs:dateTime"/>
                              <xs:element name="REPORT_TITLE" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="PRINTED_BY" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="CREATED" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="STANDARD_TRANSLATIONS">
                        <xs:complexType>
                           <xs:all minOccurs="1" maxOccurs="1">
                              <xs:element name="ATTRIBUTE_DISPLAY_TEXTS">
                                 <xs:complexType>
                                    <xs:all minOccurs="1" maxOccurs="1">
                                       <xs:element name="EXECUTION_TIME" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="ORDERED_BY" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="JOB_ID" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="COMMENT" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="ORDER_TIME" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="REPORT_TITLE" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="PRINTED_BY" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="CURRENT_TIME" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="CURRENT_DATE" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="PAGE" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="END_OF_REPORT" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="REPORT_PARAMETERS" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="APPLICATION_TEXT" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="CREATED" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="NONE" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="NOTES" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="NO_DATA_FOUND" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                    </xs:all>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="SITE_TEXTS">
                                 <xs:complexType>
                                    <xs:all minOccurs="1" maxOccurs="1">
                                       <xs:element name="COMPANY_NAME" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="SITE_TEXT_1" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="SITE_TEXT_2" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="SITE_TEXT_3" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="SITE_TEXT_4" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="SITE_TEXT_5" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="SITE_TEXT_6" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="SITE_TEXT_7" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="SITE_TEXT_8" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="SITE_TEXT_9" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="SITE_TEXT_10" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                    </xs:all>
                                 </xs:complexType>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                  </xs:all>
               </xs:complexType>
            </xs:element>
            <xs:element name="APPROVED_LABEL_REP_DATA_ASSEMBLY_PARAMETERS">
               <xs:complexType>
                  <xs:all minOccurs="1" maxOccurs="1">
                     <xs:element name="RECEIPT_SEQUENCE">
                        <xs:complexType>
                           <xs:all minOccurs="1" maxOccurs="1">
                              <xs:element name="DISPLAY_TEXT" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="VALUE" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="CONTRACT">
                        <xs:complexType>
                           <xs:all minOccurs="1" maxOccurs="1">
                              <xs:element name="DISPLAY_TEXT" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="VALUE" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="PART_NO">
                        <xs:complexType>
                           <xs:all minOccurs="1" maxOccurs="1">
                              <xs:element name="DISPLAY_TEXT" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="VALUE" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="CONFIGURATION_ID">
                        <xs:complexType>
                           <xs:all minOccurs="1" maxOccurs="1">
                              <xs:element name="DISPLAY_TEXT" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="VALUE" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="LOCATION_NO">
                        <xs:complexType>
                           <xs:all minOccurs="1" maxOccurs="1">
                              <xs:element name="DISPLAY_TEXT" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="VALUE" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="LOT_BATCH_NO">
                        <xs:complexType>
                           <xs:all minOccurs="1" maxOccurs="1">
                              <xs:element name="DISPLAY_TEXT" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="VALUE" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="SERIAL_NO">
                        <xs:complexType>
                           <xs:all minOccurs="1" maxOccurs="1">
                              <xs:element name="DISPLAY_TEXT" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="VALUE" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="E_C">
                        <xs:complexType>
                           <xs:all minOccurs="1" maxOccurs="1">
                              <xs:element name="DISPLAY_TEXT" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="VALUE" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="W_D_R_NO">
                        <xs:complexType>
                           <xs:all minOccurs="1" maxOccurs="1">
                              <xs:element name="DISPLAY_TEXT" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="VALUE" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="ACTIVITY_SEQ">
                        <xs:complexType>
                           <xs:all minOccurs="1" maxOccurs="1">
                              <xs:element name="DISPLAY_TEXT" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="VALUE" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="HANDLING_UNIT_ID">
                        <xs:complexType>
                           <xs:all minOccurs="1" maxOccurs="1">
                              <xs:element name="DISPLAY_TEXT" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="VALUE" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="ORIGIN_PACK_SIZE1">
                        <xs:complexType>
                           <xs:all minOccurs="1" maxOccurs="1">
                              <xs:element name="DISPLAY_TEXT" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="VALUE" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="NO_OF_LABELS1">
                        <xs:complexType>
                           <xs:all minOccurs="1" maxOccurs="1">
                              <xs:element name="DISPLAY_TEXT" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="VALUE" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="NO_OF_COPIES1">
                        <xs:complexType>
                           <xs:all minOccurs="1" maxOccurs="1">
                              <xs:element name="DISPLAY_TEXT" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="VALUE" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="ORIGIN_PACK_SIZE2">
                        <xs:complexType>
                           <xs:all minOccurs="1" maxOccurs="1">
                              <xs:element name="DISPLAY_TEXT" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="VALUE" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="NO_OF_LABELS2">
                        <xs:complexType>
                           <xs:all minOccurs="1" maxOccurs="1">
                              <xs:element name="DISPLAY_TEXT" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="VALUE" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="NO_OF_COPIES2">
                        <xs:complexType>
                           <xs:all minOccurs="1" maxOccurs="1">
                              <xs:element name="DISPLAY_TEXT" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="VALUE" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="ORIGIN_PACK_SIZE3">
                        <xs:complexType>
                           <xs:all minOccurs="1" maxOccurs="1">
                              <xs:element name="DISPLAY_TEXT" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="VALUE" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="NO_OF_LABELS3">
                        <xs:complexType>
                           <xs:all minOccurs="1" maxOccurs="1">
                              <xs:element name="DISPLAY_TEXT" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="VALUE" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="NO_OF_COPIES3">
                        <xs:complexType>
                           <xs:all minOccurs="1" maxOccurs="1">
                              <xs:element name="DISPLAY_TEXT" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="VALUE" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                  </xs:all>
               </xs:complexType>
            </xs:element>
            <xs:element name="APPROVED_LABEL_REP_ARCHIVE_VARIABLES">
               <xs:complexType>
                  <xs:sequence minOccurs="0" maxOccurs="unbounded">
                     <xs:element name="VARIABLE">
                        <xs:complexType>
                           <xs:all minOccurs="1" maxOccurs="1">
                              <xs:element name="NAME" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="VALUE" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="APPROVED_LABEL_REP_TRANSLATIONS">
               <xs:complexType>
                  <xs:all minOccurs="1" maxOccurs="1">
                     <xs:element name="REPORT_TEXTS">
                        <xs:complexType>
                           <xs:all minOccurs="1" maxOccurs="1">
                              <xs:element name="APPROVED_LABEL" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="ATTRIBUTE_DISPLAY_TEXTS">
                        <xs:complexType>
                           <xs:choice minOccurs="0" maxOccurs="1">
                              <xs:element name="ITEMS" nillable="true" minOccurs="0">
                                 <xs:complexType>
                                    <xs:choice minOccurs="0" maxOccurs="1">
                                       <xs:element name="DETAIL">
                                          <xs:complexType>
                                             <xs:choice minOccurs="0" maxOccurs="10">
                                                <xs:element name="PART_NO" nillable="true" minOccurs="0">
                                                   <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                         <xs:maxLength value="200"/>
                                                      </xs:restriction>
                                                   </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="PACK_QTY" nillable="true" minOccurs="0">
                                                   <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                         <xs:maxLength value="200"/>
                                                      </xs:restriction>
                                                   </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="LOCATION_NO" nillable="true" minOccurs="0">
                                                   <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                         <xs:maxLength value="200"/>
                                                      </xs:restriction>
                                                   </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="BATCH_NO" nillable="true" minOccurs="0">
                                                   <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                         <xs:maxLength value="200"/>
                                                      </xs:restriction>
                                                   </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="RECEIVER" nillable="true" minOccurs="0">
                                                   <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                         <xs:maxLength value="200"/>
                                                      </xs:restriction>
                                                   </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="OWNERSHIP" nillable="true" minOccurs="0">
                                                   <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                         <xs:maxLength value="200"/>
                                                      </xs:restriction>
                                                   </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="SERIAL_NO" nillable="true" minOccurs="0">
                                                   <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                         <xs:maxLength value="200"/>
                                                      </xs:restriction>
                                                   </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="EXPIRATION_DATE" nillable="true" minOccurs="0">
                                                   <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                         <xs:maxLength value="200"/>
                                                      </xs:restriction>
                                                   </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="RECEIPT_DATE" nillable="true" minOccurs="0">
                                                   <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                         <xs:maxLength value="200"/>
                                                      </xs:restriction>
                                                   </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="DEFAULT_LOCATION_NO" nillable="true" minOccurs="0">
                                                   <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                         <xs:maxLength value="200"/>
                                                      </xs:restriction>
                                                   </xs:simpleType>
                                                </xs:element>
                                             </xs:choice>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:choice>
                                 </xs:complexType>
                              </xs:element>
                           </xs:choice>
                        </xs:complexType>
                     </xs:element>
                  </xs:all>
               </xs:complexType>
            </xs:element>
            <xs:element name="APPROVED_LABEL_REP">
               <xs:complexType>
                  <xs:choice minOccurs="0" maxOccurs="1">
                     <xs:element name="ITEMS" nillable="true" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence minOccurs="0" maxOccurs="unbounded">
                              <xs:element name="DETAIL">
                                 <xs:complexType>
                                    <xs:choice minOccurs="0" maxOccurs="10">
                                       <xs:element name="PART_NO" nillable="true" minOccurs="0">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="25"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="PACK_QTY" type="xs:float" nillable="true" minOccurs="0"/>
                                       <xs:element name="LOCATION_NO" nillable="true" minOccurs="0">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="35"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="BATCH_NO" nillable="true" minOccurs="0">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="20"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="RECEIVER" nillable="true" minOccurs="0">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="30"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="OWNERSHIP" nillable="true" minOccurs="0">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="SERIAL_NO" nillable="true" minOccurs="0">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="50"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="EXPIRATION_DATE" type="xs:dateTime" nillable="true" minOccurs="0"/>
                                       <xs:element name="RECEIPT_DATE" type="xs:dateTime" nillable="true" minOccurs="0"/>
                                       <xs:element name="DEFAULT_LOCATION_NO" nillable="true" minOccurs="0">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="10"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                    </xs:choice>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  </xs:choice>
               </xs:complexType>
            </xs:element>
         </xs:all>
      </xs:complexType>
   </xs:element>
</xs:schema>